/* .grid{
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: 
        "classname1 classname2"
        "classname3 classname4"
        "classname5 classname6";
}

.classname1{
    
}
.classname2{
    
}
.classname3{
    
}
.classname4{
    
}
.classname5{
    
}
.classname6{
    
} */

